
[project]
name = "vsmuxtools"
version = "0.0.1"
description = "The extension to muxtools with vapoursynth and encoding stuff"
authors = [
    { name="Vodes", email="vodes.imp@gmail.com" }
]
dependencies = [
    "vapoursynth>=60",
    "vstools>=1.6.2",
    "muxtools>=0.0.1",
]
classifiers = [
    "Natural Language :: English",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Programming Language :: Python :: 3.10",
    "Operating System :: OS Independent",
    "Typing :: Typed",
    "Topic :: Multimedia :: Video",
    "Topic :: Multimedia :: Video :: Display",
    "Topic :: Multimedia :: Video :: Conversion",
    "License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)"
]
requires-python = ">=3.10"
readme = "README.md"
license = {text = "MPL 2.0"}

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project.urls]
"Source Code" = "https://github.com/Irrational-Encoding-Wizardry/vs-muxtools"
"Contact" = "https://discord.gg/qxTxVJGtst"
